.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  color: yellow;
  margin: auto;
  width: 50%;
  border-radius: 5px;
  border-radius: 15px;
  padding: 10px;
}
.input-div input{
border-radius: 4px;
margin: 5px;
outline: none;
}
.list-div{
  width: 95%;
  display: flex;
  flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.list-div button{
  border: none;
  border-radius: 4px;
  background-color: brown;

}
.list-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border: 1px solid yellow;
  border-radius: 3px;
}
.filter-div {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.filter-div:hover{
  cursor: pointer;
}
.button-div button{
  margin: 5px;
}
button{
  border-radius: 7px;
}